<div class="chat-container">
    @if (chat && chat.messages.length > 0) {
    @for (msg of chat.messages; track msg.date) {

    <div class="message-wrapper" [class.sender]="msg.author === 'Me'" [class.receiver]="msg.author !== 'Me'">
        <div class="message-bubble">
            <p class="text">{{ msg.messageText }}</p>

            @if (msg.messageImg) {
            <img [src]="msg.messageImg" alt="Imagen adjunta" class="message-image">
            }

            <span class="metadata">{{ msg.date | date:'dd/MM/yyyy - hh:mm a' }}</span>
        </div>
    </div>

    }
    } @else {
    <div class="empty-chat">
        <p>No hay mensajes todavía. ¡Envía el primero!</p>
    </div>
    }

    @if (isTyping) {
    <div class="message-wrapper receiver">
        <div class="message-bubble typing-indicator">
            <span class="dot">...</span>
        </div>
    </div>
    }
</div>