<div class="chat-list">

    @for (contact of contacts; track contact.id) {
    <a class="chat-item" [routerLink]="['/chat', contact.idChat]">
        <img class="avatar" [src]="contact.avatarUrl" alt="Avatar">

        <div class="chat-info">
            <span class="chat-name">{{ contact.name }}</span>

            @if (contact.online) {
            <span class="chat-status online">En línea</span>
            <span class="chat-status">Ubicación actual: {{contact.location}}</span>
            } @else {
            <span class="chat-status offline">{{ contact.lastConnection }}</span>
            <span class="chat-status">Última ubicación: {{contact.location}}</span>
            }
        </div>

        @if (contact.canBeDeleted) {
        <button (click)="onDelete($event, contact.id)">Eliminar contacto</button>
        }
    </a>
    } @empty {
    <p>No hay contactos disponibles.</p>
    }

</div>