<div class="chat-list">

    <a class="chat-item" routerLink="/chat/1">
        <img class="avatar" src="https://i.pravatar.cc/150?img=11" alt="Avatar">
        <div class="chat-info">
            <span class="chat-name">Sir Lancelot</span>
            <span class="chat-status online">Online</span>
        </div>
    </a>

    <a class="chat-item" routerLink="/chat/2">
        <img class="avatar" src="https://i.pravatar.cc/150?img=5" alt="Avatar">
        <div class="chat-info">
            <span class="chat-name">Mago Merlín</span>
            <span class="chat-status offline">Última vez visto en el reino hace 2 horas</span>
        </div>
    </a>

    <a class="chat-item" routerLink="/chat/3">
        <img class="avatar" src="https://i.pravatar.cc/150?img=9" alt="Avatar">
        <div class="chat-info">
            <span class="chat-name">Rey Arturo</span>
            <span class="chat-status busy">En batalla</span>
        </div>
    </a>

</div>