<div class="chat-layout">
    <aside class="chat-sidebar">
        @if (contact) {
        <header class="user-profile">
            <div class="avatar-container">
                <img [src]="contact.avatarUrl" [alt]="'Avatar de ' + contact.name" class="avatar">
            </div>

            <div class="user-info">
                <h2 class="user-name">{{ contact.name }}</h2>

                <span class="user-status">
                    @if (contact.online) {
                    Ubicación actual: {{ contact.location }} | En línea
                    } @else {
                    Última ubicación: {{ contact.location }} | {{ contact.lastConnection }}
                    }
                </span>
            </div>
        </header>
        } @else {
        <div class="loading-state">
            <p>Cargando perfil...</p>
        </div>
        }
    </aside>

    @if (contact) {
    <app-chat-view [contactId]="contact.id" />

    <app-input-chat (sendMessage)="onNewMessage($event)" />
    }
</div>