<div class="chat-layout">
    <aside class="chat-sidebar">

        <header class="user-profile">
            <div class="avatar-container">
                <img src="https://api.dicebear.com/7.x/adventurer/svg?seed=Arthur" alt="Avatar del usuario"
                    class="avatar">
            </div>

            <div class="user-info">
                <h2 class="user-name">Sir Arthur</h2>
                <span class="user-status">
                    Última vez visto en el reino hace 2h
                </span>
            </div>
        </header>
    </aside>
</div>